<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

          <div id="marcapersonal" class="navbar-brand">
            <div>
            <div class="col-xs-2 col-sm-2 col-lg-2">
                <div class="avatar-container" style="display: block;">
	  <div class="avatar-img-border" style="margin-top:15px">
	    <a href=#">
	      <img class="avatar-img" src="https://i1.rgstatic.net/ii/profile.image/368104526893057-1464774366076_Q64/Agustin_Perez-Torregrosa.jpg">
		</a>
	  </div>
	</div>
                </div>
                <div class="col-xs-10 col-sm-10 col-lg-10">
		<b>Agustín Pérez </b><b class="hidden-xs">Torregrosa</b> <i id="titular" class="hidden-xs hidden-sm" style="font-size: 14px;font-weight: 100;">Experto en Contabilidad y Finanzas</i></div>
          </div>
	    </div>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {% for link in site.navbar-links %}
        {% if link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
            <div class="navlinks-children">
              {% for childlink in link[1] %}
                {% for linkparts in childlink %}
                  {% include navbarlink.html link=linkparts %}
                {% endfor %}
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li>
            {% include navbarlink.html link=link %}
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

	

  </div>
</nav>
