<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

          <div class="navbar-brand">
            <div>
            <div class="col-xs-2 col-sm-2 col-lg-2">
                <div class="img-circle">
                        <img src="http://localhost:8888/profile/app/0.jpeg" alt="Agustín Pérez Torregrosa" width="100%" height="100%" class="img-circle">
                    </div>
                </div>
                <div class="col-xs-10 col-sm-10 col-lg-10">
                <b>Agustín Pérez Torregrosa</b> <i id="titular" class="hidden-xs" style="font-size: 14px;font-weight: 100;">Experto en Contabilidad y Finanzas | Economic Data Scientist</i></div>
          </div>
	    </div>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {% for link in site.navbar-links %}
        {% if link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
            <div class="navlinks-children">
              {% for childlink in link[1] %}
                {% for linkparts in childlink %}
                  {% include navbarlink.html link=linkparts %}
                {% endfor %}
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li>
            {% include navbarlink.html link=link %}
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

	

  </div>
</nav>
